<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>




<ul class="posts">
  <% @posts.each do |post| %>
    <li>
      <div>
        <h4><%= post.title %></h4>
        <p>
          <%= post.body %>
        </p>
        <span><%= post.user.email %></span><br />
        <span><%= distance_of_time_in_words(post.created_at, Time.now) %></span>
      </div>
    </li>
  <% end %>
</ul>








<br>

<%= link_to 'New Post', new_post_path %>
